.footer{
    width: 100%;
    height: 670px;
}

.footer .top{
    width: 100%;
    height: 597px;
    background: #1C1E53;
   
}

.footer .top .right{
    width:100%;
    
}

.footer .top .left{
    width:100%;
    
}

.footer .top .left .logo{
    width: 100%;
    height: 32.405px;
    margin-top: 30px;
    text-align: center;
   
}

.footer .top .left .text{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    width: 100%;
    opacity: 0.8;
    text-align: center;
    margin-top: 30px;
}

.footer .top .left .info{
    width: 100%;
    height: 95px;
    background: #FCD980;
    margin-top: 100px;
    text-align: center;
}

.footer .top .left .info svg{
  margin-left: 37px;
  margin-top: 17px;
  margin-bottom: 16px;
}

.footer .top .right .title{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    width: 100%;
    margin-top: 80px;
   
    text-align: center;
    
}

.footer .top .right .body{
    color: #F4F6FC;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    line-height: 28px;
    width: 100%;
    opacity: 0.8;
    text-align: center;
  
   
   
}

.footer .top .right .svg{
    width: 100%;
    height: 16px;
    color:#FFF;
    margin-top: 10px;
   text-align: center;
   
}

.footer .bottom{
    width: 100%;
    height: 72px;
    background:  #FFF;
  
}
.footer .bottom .copyright{
    text-align: center;
}
.footer .bottom .copyright a{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    width: 100%;
    height: 28px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}

.footer .bottom .link{
    width: 100%;
    height: 28px;
    text-align: center;
  
}

.footer .bottom .link a{
    color: #282938;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    margin-right: 32px;
    text-align: center;
}

