.mainheader {
  width: 100%;
  height: 92px;
  /* background-color: #1c1e53; */
  background-color:  #1c1e53;
}
.mainheader .menu {
  width: 100%;
  height: 92px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.mainheader .menu .logo {
  width: 122px;
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: 10px;
  display: none;
}
.mainheader .menu .right {
  width: auto;
  height: auto;
  display: none;
}
.mainheader .menu .right nav {
  width: inherit;
  height: inherit;
}
.mainheader .menu .right nav ul {
  width: inherit;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  column-gap: 10px;
  justify-content: center;
}
.mainheader .menu .right nav ul li {
  width: auto;
  height: auto;
}
.mainheader .menu .right nav ul li a {
  display: block;
  width: auto;
  height: auto;
  color: #bbbbcb;
  font-family: poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
  text-transform: capitalize;
  text-decoration: none;
}
.mainheader .menu .contact {
  margin-left: 48px;
  display: flex;
  align-items: center;
  display: none;
}
.mainheader .menu .contact button {
  width: 120px;
  height: 40px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: transparent;
  color: #fff;
  font-family: poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

  .mainheader .menu .contact button a{
    text-decoration: none;
  }
  
  .mainheader .menu .toggleMenu{
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    margin-left: 10px;
    position: relative;
    border-radius: 3px;
  }
  .mainheader .menu .toggleMenu div{
    width: 80%;
    height: 2px;
    background-color: #2b2b2b;
    position: absolute;
    left: calc(50% - 80% / 2);
    cursor: pointer;
  }
  .mainheader .menu .toggleMenu div:nth-of-type(1){
    top: calc(50% - 2px / 2 - 5px);
  }
  .mainheader .menu .toggleMenu div:nth-of-type(2){
    top: calc(50% - 2px / 2);
  }
  .mainheader .menu .toggleMenu div:nth-of-type(3){
    top: calc(50% - 2px / 2 + 5px);
  }
  .menuMobile{
    width: 100%;
    height:100vh;
    background-color: #626288;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: -100%;
    transition: 300ms;
  }
  .menuMobile nav{
    width: 100%;
    height: inherit;
  }
  .menuMobile nav ul{
    width: 100%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
  }
  .menuMobile nav ul li{
    width: 100%;
    height: 40px;
  }
  .menuMobile nav ul li a{
    width: 100%;
    height: 40px;
    text-align: center;
    display: block;
    color: #1c1e53;
    font-size: 18px;
    font-weight: bold;
    font-family: Manrope;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 40px;
    transition: 300ms;
  }
  .menuMobile nav ul li a:hover{
    background-color: #565880;
  }
  .menuMobile nav ul li:nth-last-of-type(1):hover a{
    background-color: transparent;
  }
  .active{
    left: 0% !important;
  }
  