.ourprojects{
    
    width: 100%;
height: 1500px;
box-sizing: border-box;





    background-color: #FFF;
   
}
.ourprojects .title{

    color: var(--Dark-blue, #282938);

/* Heading 2 */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 64px; /* 133.333% */
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
flex-flow: row nowrap;
column-gap: 20px;
width:100%;
height: 64px;
flex-shrink: 0;
margin-top: 128px;
text-align: center;
margin-bottom: 80px;

}
.ourprojects .title .topic{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    width: 100%;
    height: 64px;
    position: relative;
}
.ourprojects .title a{
    display: block;
    text-decoration: none;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    text-decoration: none;
    width: 100%;
    height: 28px;

}
.ourprojects .content{
   
   
    column-gap: 23px;
    width: 100%;
    height: 600px;
    margin-bottom: 128px;
    
   

}
div.ourprojects>div.content>div.left>a:hover>div.cover{
    display: block;

}
.ourprojects .content .left a .card1{
    width: 100%;
height: 600px;
flex-shrink: 0;

position: relative;
overflow: hidden;
display: block;
}
.ourprojects .content .left a{
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    position: relative;
    display: block;
    transition-delay: 1000ms;
    margin-bottom: 20px;
   
    

}
.ourprojects .content .left a .card1{
    display: block;
    width: 100%;
   
}
.ourprojects .content .left a .card1 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.ourprojects .content .left a .cover{
    width: 100%;
    height: 89%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding-left: 40px;
    padding-bottom: 66px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    row-gap: 16px;
   position:absolute;
    top: 0;
    transition: 3000ms;
    display: none;
}
.ourprojects .content .left a .cover .text{
    margin-top: 312px;
    
}
.ourprojects .content .left a .cover .text .p1{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
   
   

}
.ourprojects .content .left a .cover .text .p2{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    opacity: 0.8;
    margin-top: 16px;

}
.ourprojects .content .left a .cover .more{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 16px;
    margin-top: 24px;
    
}
.ourprojects .content .left a .cover .more p{
    color: var(--Yellow, #FCD980);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    margin-top: 40px;
    
}
.ourprojects .content .left a .cover .more svg{

    width: 24px;
    height: 28px;
    flex-shrink: 0;
    stroke-width: 1.5px;
    stroke: var(--Yellow, #FCD980);
    margin-top: 40px;
}






.ourprojects .content .right{
    width: 100%;
    height: 600px;
   
}
.ourprojects .content .right a{
    width: 100%;
    height: 284px;
    flex-shrink: 0;
    position: relative;
    display: block;
    transition-delay: 1000ms;
}
   
.ourprojects .content .right a .card2{
    width: 100%;
    height: 284px;
}

.ourprojects .content .right a .card2 {
    margin-bottom: 32px;
}

.ourprojects .content .right a .card2 img{
    width: 100%;
    height: 284px;
    object-fit: cover;
}
div.ourprojects>div.content>div.right>a:hover>div.cover{
    display: block;

}
.ourprojects .content .right a .cover{
    width: 100%;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    justify-content: flex-end;
    display: none;
    transition: 300ms;

}
.ourprojects .content .right a .cover .top{
    margin-top: 129px;

}
.ourprojects .content .right a .cover .top p{


color: var(--White, #FFF);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px;
width: 100%;
margin-left: 56px;
text-align: left;



}
.ourprojects .content .right a  .cover .bottom{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 16px;
    margin-bottom: 45px;
    cursor: pointer;


}


.ourprojects .content .right a  .cover .bottom p{
    color: var(--Yellow, #FCD980);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 56px;
    
    


}
.ourprojects .content .right a  .cover .bottom p svg{
    width: 24px;
    height: 28px;
    vertical-align: middle;
    stroke-width: 1.5px;
    stroke: var(--Yellow, #FCD980);
    margin-left: 16px;
    
}

