.team{
    width: 100%;
    height: 1510px;
    background: #F4F6FC;
    text-align: center;
    
}

.team .title{
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-top: 90px;
    width: 100%;
}

.team .members{
    width: 100%;
    height: 344px;
    color: #1D2130;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 100px;
}

.team .members .m{
    width: 100%;
    height: 344px;
    background: #FFF; 
}