.blog{
    width: 100%;
    height: 737px;
    margin-bottom: 100px;
}
.blog .title{
    color: #282938;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
    margin-left: 80px;
}

.blog .cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 32px;
}

.blog .cards .card{
    width: 405px;
    height: 609px;
    display: flex;
    flex-flow: row wrap;
}

.blog .cards .card .pic {
    width: 405px;
    height: 285px;
}

.blog .cards .card .date{
    width: 93px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
}

.blog .cards .card .Ttext{
    width: 405px;
    color: #282938;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.blog .cards .card .Btext{
    width: 405px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    opacity: 0.7;
}

.blog .cards .card .button{
    width: 123px;
    height: 28px;
    flex-shrink: 0;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    cursor: pointer;
}